@page "{text?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.Message != null)
{
    <div class="alert alert-primary" role="alert">
        @Model.Message
    </div>
}
<style>
    body{
        background-image: url('Images/bg.jpg'); 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
    }
</style>
<div class="text-center">
    <h1 class="display-4">CoinTrade</h1>
    <h3>Trade your coins and become a millionaire!</h3>

    
</div>
