@page
@model PrivacyModel
@{
    ViewData["Title"] = "Code of Conduct";
}
<h1>@ViewData["Title"]</h1>

<p>
    Yes this is a whining post. I’m at the point that I start hating people hiding behind pc/mobile screen and being a jerk.
</p>
<p>
    Here is what in my mind of “code of conduct”, it’s not fair, I know, you wanna fair, go play dota, agree, disagree, curse me, whatever.
</p>
<div>
    1, if you don’t have blessing, don’t fucking auto, you have not earned it! Carry you? Sure, but show some appreciation and contribute in some way! Why should I carry you and carry an auto at the same time.
</div>
<div>
    2, if you don’t have blessing, bring a buffer, we don’t need another Leon, and definitely don’t need another Cherie with no buff!
</div>
<div>
    3, if you don’t have blessing, watch some YouTube on how to play each challenge, you can’t beat solo because stat is a bit low, no problem, you will get there eventually, but at least know how to move and where to place your hero, so you don’t mess up, especially 70 dragons.
</div>
<div>
    4, i appreciate people have busy life, but if you don’t have time to play, don’t play in team. Don’t waste others time, that’s a crime!
</div>
<div>
    5, hit that start button and auto button after you decided being a jerk, don’t waste 90 secs of others time. being a jerk is one thing, but being a jerk and not admitting it is coward.
</div>
<div>
    6, joint battle is a cancer, I can’t even think of a “code of conduct” to improve that....team with people we know, my only solution.
</div>
<div>
    Now, i like playing games and also big fan of Langrisser since MD time, but every 1 in 5 team games, I want to find that jerk and smash his/her phone and say you don’t deserve this game.
</div>
