@page
@model CoinTrading.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}
<h1>@ViewData["Title"]</h1>
<h2>Ändra profiluppgifter</h2>
<form method="post">
    <div>
        <label>Username: </label>
        <input type="test" name="username" disabled />
    </div>
    <div>
        <label>Balance: </label>
        <input type="test" name="balance" disabled />
    </div>
    <div>
        <label>Nytt lösenord: </label>
        <input name="password" type="password" required />
    </div>
    <div>
        <label>Bekräfta nytt lösenord: </label>
        <input name="confirmPassword" type="password" required />
    </div>
    <button type="submit">Spara ändringar</button>
</form>

<script>

</script>
