@page "{text?}"
@model CoinTrading.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

@if (Model.Message != null) {
    <div class="alert alert-danger" role="alert">
        @Model.Message
    </div>
}

<form method="POST" id="regForm">
    <div class="form-group">
        <label for="inputUsername">Email address</label>
        <input type="username" name="username" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Enter username" required>
        <small id="usernameHelp" class="form-text text-muted">We'll will allways share your login with all our hackers.</small>
        <div id="usernameFeedback" class="form-text text-muted" role="alert"></div>
    </div>
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
        <small id="emailHelp" class="form-text text-muted">We'll allways share your email with anyone that asks.</small>
        <div id="emailFeedback" class="form-text text-muted" role="alert"></div>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>
    </div>

    <div class="form-group">
        <label for="inputConfirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
        <small id="confirmPassword-feedback" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<script>
    const username = document.getElementById("inputUsername")
    const email = document.getElementById("inputEmail")
    const password = document.getElementById("inputPassword")
    const confirmPassword = document.getElementById("inputConfirmPassword")
    const feedback = document.getElementById("confirmPassword-feedback")
    let isPasswordMatch = false

    const passwordElements = document.querySelectorAll("input[type='password']");

    function CheckPasswordMatching() {
        if (password.value != confirmPassword.value) {
            feedback.innerHTML = "Password is not matching!!!"
            isPasswordMatch = false

            passwordElements.forEach(el => {
                el.classList.add("is-invalid")
                el.classList.remove("is-valid")
            })
            
        } else {
            feedback.innerHTML = ""
            isPasswordMatch = true

            passwordElements.forEach(el => {
                el.classList.add("is-valid")
                el.classList.remove("is-invalid")
            })
        }
    }

    function validateUser(url, elementId, errorText) {
        $.getJSON(url, function (data) {
            console.log(data)
            const feedbackElement = document.getElementById(elementId)
            if (data["exists"]) {
                feedbackElement.innerText = errorText
                feedbackElement.classList.add("alert")
                feedbackElement.classList.add("alert-danger")
            } else {
                feedbackElement.innerText = ""
                feedbackElement.classList.remove("alert")
                feedbackElement.classList.remove("alert-danger")
            }

        });
    }

    
    username.addEventListener("change", () => { 
        const url = "Validation/Username/?username=" + encodeURIComponent(username.value)
        validateUser(url, "usernameFeedback", "Username allready exists")
    });
    email.addEventListener("change", () => { 
        const url = "Validation/Email/?email=" + encodeURIComponent(email.value)
        validateUser(url, "emailFeedback", "Email allready exists")
    });

    password.addEventListener("input", CheckPasswordMatching);
    confirmPassword.addEventListener("input", CheckPasswordMatching);

    document.getElementById("regForm").addEventListener("submit", () => {
        if (!isPasswordMatch) {
            alert("Wait! Password did not match.")
            return false
        }
        return true
    })
</script>
